<div class="background-image-overlay"></div>

<div id="outer-background-container" data-default-background-img="<%= image_path('bg5.jpg')%>" style="background-image:image-url('bg5.jpg');"></div>
<!-- end: #outer-background-container -->


<!-- Outer Container -->
<div id="outer-container">


<!-- Left Sidebar -->
<section id="left-sidebar">

    <!--div class="logo">
        <%= link_to image_tag('logo.png', alt:'Logo'), '#intro', class:'link-scroll'%>
    </div><!-- .logo -->
    <!-- Menu Icon for smaller viewports -->
    <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

    <ul id="main-menu">
        <li class="menu-item scroll"><%=link_to 'Home', '#intro' %></li>
        <li id="menu-item-about" class="menu-item scroll"><%=link_to 'About Us', '#about' %></li>
        <li id="menu-item-education" class="menu-item scroll"><%=link_to 'Services', '#education' %></li>
        <li id="menu-item-campaigns" class="menu-item scroll"><%=link_to 'Blog', '#campaigns' %></li>
        <li id="menu-item-support" class="menu-item scroll"><%=link_to 'support', '#support' %></li>
        <li id="menu-item-contact" class="menu-item scroll"><%=link_to 'Contact Us', '#contact' %></li>
        <% if current_user.present? %><li id="menu-item-contact" class="menu-item scroll"><%=link_to 'E-mail', contacts_path %></li><% end %>
    </ul><!-- #main-menu -->

</section><!-- #left-sidebar -->
<!-- end: Left Sidebar -->



<section id="main-content" class="clearfix">

<article id="intro" class="section-wrapper clearfix">

    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3581931.843568942!2d83.44342169752825!3d28.75000465373178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995e8c77d2e68cf%3A0x34a29abcd0cc86de!2sNepal!5e0!3m2!1sen!2s!4v1404638479455" width="800" height="600" frameborder="0" style="border:0"></iframe>    </div>
    <div class="content-wrapper clearfix">
        <div class="col-sm-10 col-md-9 pull-right">

          <section class="feature-text">
                <!--h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                <p>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet. </p>
                -->

                <p><%=link_to 'get started', '#about', class:'link-scroll btn btn-outline-inverse btn-lg' %></p>
            </section>

        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->

<article id="about" class="section-wrapper clearfix" data-custom-background-img="<%= image_path('bg1.jpg')%>">
    <div class="content-wrapper clearfix">
        <!--<div class="col-sm-10 col-md-9 pull-right">-->

            <h1 class="section-title">About US</h1>

            <p class="feature-paragraph"><div class="lazy pull-right"><iframe width="420" height="315" src="//www.youtube.com/embed/T-3AZSbt0wo" frameborder="0" allowfullscreen></iframe></div>
      <p> Tour and Travel Agency is a Nepal's local tour operator, travel agency base in Kathmandu, providing
        information and service in the tourism field,
        offering great <%=link_to 'Services ', '#education' %> in discounted rates. We
        have been in this trade since 2014, operating Nepal tour, Nepal travels, package tour, jungle safari, hotel booking
        in accordance with the highest ethical and business
        standards. ,</p>
            <h4>Tour and Travel</h4>
            <p> Jhupro Tour and Travels P.Ltd is the leading and pioneer travel agent for adventure travel and tours operation from its existence till today.  Our aim is to provide our best <%=link_to 'Services ', '#education' %> to the guests. .</p>
            <p><%= link_to 'read more', 'javascript: void(0);', onclick: "populate_and_open_modal(event, 'modal-content-1');", class: 'btn btn-outline-inverse btn-sm'%></p>

            <div class="content-to-populate-in-modal" id="modal-content-1">
                <h1>Tour and Travel</h1>
                <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-right", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Jhupro Tour and Travels P.Ltd is the leading and pioneer travel agent for adventure travel and tours operation from its existence till today. Our aim is to provide our best Services to the guests..</p>
                <p>Jhupro Tour and Travels P.Ltd is the leading and pioneer travel agent for adventure travel and tours operation from its existence till today. Our aim is to provide our best Services to the guests.</p>
                <h3>Birth place of gautam Buddha</h3>
                <p><%=image_tag('transp-image7.jpeg', class:"lazy rounded_border hover_effect pull-right", data:{:'img-src'=> image_path('transp-image7.jpeg')}, alt:"Lorem Ipsum") %>Jhupro Tour and Travels P.Ltd is the leading and pioneer travel agent for adventure travel and tours operation from its existence till today. Our aim is to provide our best Services to the guests. </p>
                <p>Jhupro Tour and Travels P.Ltd is the leading and pioneer travel agent for adventure travel and tours operation from its existence till today. Our aim is to provide our best Services to the guests.</p>
            </div><!-- #modal-content-1 -->

        </div><!-- .col-sm-10 -->
    <!--</div>&lt;!&ndash; .content-wrapper &ndash;&gt;-->
</article><!-- .section-wrapper -->

<article id="education" class="section-wrapper clearfix" data-custom-background-img="<%= image_path('bg6.jpg')%>">
    <div class="content-wrapper clearfix">

        <div id="features-carousel" class="carousel slide with-title-indicators max-height" data-height-percent="70" data-ride="carousel">

            <!-- Indicators - slide navigation -->
            <ol class="carousel-indicators title-indicators">
                <li data-target="#features-carousel" data-slide-to="0" class="active">Trekking in Nepal</li>
                <li data-target="#features-carousel" data-slide-to="1">Adventure</li>
                <li data-target="#features-carousel" data-slide-to="2">Pilgrims Tour</li>
                <li data-target="#features-carousel" data-slide-to="3">Holiday Tour</li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="carousel-text-content">
                        <%= image_tag('transp-image1.jpeg', class:'icon', alt:'Lorem Ipsum')%>
                        <h2 class="title">Trekking in Nepal</h2>
                        <p>Blessed with enchanting landscapes and mystic Himalayas, this beautiful country has in store a lot for everyone visiting here. Nepal trek is all about exploring the beautiful nature and the flora and fauna residing on it with highs and lows of the trekking trails. </p>
                        <p><%= link_to 'read more', 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-2');", class:'btn btn-outline-inverse btn-sm'%></p>

                        <div class="content-to-populate-in-modal" id="modal-content-2">
                            <h1>Everest Base Camp Trek</h1>

                            <p><%=image_tag('transp-image1.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image1.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>

                            <h1>Annapurna Trek</h1>

                            <p><%=image_tag('transp-image1.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image1.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>

                            <h1>Langtang Trek</h1>

                            <p><%=image_tag('transp-image1.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image1.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>

                            <h1>Wild Kanchanjunga Trek</h1>

                            <p><%=image_tag('transp-image1.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image1.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>

                            <h1>Off Route Trek</h1>

                            <p><%=image_tag('transp-image1.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image1.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>

                            <h1>Ethnic/Home Stay Trek</h1>

                            <p><%=image_tag('transp-image1.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image1.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>


                        </div><!-- #modal-content-2 -->
                    </div>
                </div><!-- .item -->

                <div class="item">
                    <div class="carousel-text-content">
                        <%= image_tag('transp-image6.jpg', class:'icon', alt:'Lorem Ipsum')%>
                        <h2 class="title">Adventure</h2>
                        <p>Whether you choose to Zipliner, bungy jump, canyon, ice-climb, rock climb, climb trekking peaks, fly over mountains or fly an ultra-light, you will find an adventure every day in Nepal. </p>
                        <p><%= link_to 'read more', 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-3');", class:'btn btn-outline-inverse btn-sm'%></p>

                        <div class="content-to-populate-in-modal" id="modal-content-3">
                            <h1>Bungy Nepal</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Zip Flyer Nepal      </h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Paragliding Nepal</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Ultralight Flight Nepal</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Mountain Flight Nepal</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Helicopter Tour Nepal</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Connoying</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Honey Hunter Tour</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Rafting</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Rock Climbing</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Jungle Safari with Tower Stay</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Mountaineering</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Mountain Biking</h1>
                            <p><%=image_tag('transp-image6.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image6.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                        </div><!-- #modal-content-3 -->
                    </div>
                </div><!-- .item -->

                <div class="item">
                    <div class="carousel-text-content">
                        <%= image_tag('transp-image7.jpeg', class:'icon', alt:'Lorem Ipsum')%>
                        <h2 class="title">Pilgrims Tour</h2>
                        <p>Nepal has several ancient pilgrimage sites. Each temple is attached to a legend or belief that glorifies the miraculous powers of its deity.
                            Nepal is also the Gateway to Kailash Mansarovar, the mythical abode of Lord Shiva. Devotees from various parts of Nepal and India throng the temples during special festivals</p>
                        <p><%= link_to 'read more', 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-4');", class:'btn btn-outline-inverse btn-sm'%></p>

                        <div class="content-to-populate-in-modal" id="modal-content-4">
                            <h1>Pashupatinath Tour</h1>
                            <p><%=image_tag('transp-image7.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image7.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Lumbini Tour</h1>
                            <p><%=image_tag('transp-image7.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image7.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Muktinath Tour</h1>
                            <p><%=image_tag('transp-image7.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image7.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>City of Temples (Pashupatinath Bauddha, Swayambhunath)</h1>
                            <p><%=image_tag('transp-image7.jpeg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image7.jpeg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                        </div><!-- #modal-content-4 -->
                    </div>
                </div><!-- .item -->

                <div class="item">
                    <div class="carousel-text-content">
                        <%= image_tag('transp-image4.jpg', class:'icon', alt:'Lorem Ipsum')%>
                        <h2 class="title">Holiday Tour</h2>
                        <p>If Treking, adventure  and pilgrims are not your to do’s or you thought of exploring Nepal more after such trips then we have a holiday tour for you to making you walk, ride, travel and fly to different cities of Nepal like Chitwan, Pokhara, Kathmadu, Lumbini, etc all packed with experiences like never before.
                            . </p>
                        <p><%= link_to 'read more', 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-5');", class:'btn btn-outline-inverse btn-sm'%></p>

                        <div class="content-to-populate-in-modal" id="modal-content-5">
                            <h1>Kathmandu Valley</h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Lumbini Region</h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Pokhara Region</h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Chitwan Region</h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Bardiya Region</h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Illam and East Region</h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                            <h1>Daman </h1>
                            <p><%=image_tag('transp-image4.jpg', class:"lazy rounded_border hover_effect pull-left", data:{:'img-src'=> image_path('transp-image4.jpg')}, alt:"Lorem Ipsum") %>Etiam at ligula sit amet arcu laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. <%=link_to 'BOOK THIS', cont_path %>, sit amet. </p>
                            <p>Laoreet consequat. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio, sit amet.</p>
                            <p>Suspendisse molestie lorem odio, sit amet. Duis dictum lorem metus, vitae dapibus risus imperdiet nec. Suspendisse molestie lorem odio test.</p>
                        </div><!-- #modal-content-5 -->
                    </div>
                </div><!-- .item -->

            </div><!-- .carousel-inner -->

            <!-- Controls -->
            <a class="left carousel-control" href="#features-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#features-carousel" data-slide="next"></a>

        </div><!-- #about-carousel -->

    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->



<article id="campaigns" class="section-wrapper clearfix" data-custom-background-img="<%= image_path('bg2.jpg')%>">
      <div class="content-wrapper ">
            <h1 class="section-title">Listing posts</h1>

                <div>
                                <table style="font-size: 20px">
                                    <tr>
                                        <th>Title</th><td></td><td></td><td></td>
                                        <th>Body</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>

                                    <% @posts.each do |post| %>
                                        <tr>
                                            <td><%= post.title %></td><td></td><td></td><td></td>

                                            <td><%=truncate post.body%></td>

                                            <td><%= link_to "View & Add Comments (#{post.comments.count})" ,post%></td>

                                            <% if current_user.present? %>
                                            <td><%= link_to 'Edit', edit_post_path(post) %></td>
                                            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                                <% end %>
                                        </tr>
                                    <% end %>
                                </table>

                                <br />

                    <% if current_user.present? %>  <h4> <%= link_to 'New Post', new_post_path %><% end %></h4>

                </div>
     </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->



<article id="support" class="section-wrapper clearfix" data-custom-background-img="<%= image_path('bg3.jpg')%>">
    <div class="content-wrapper clearfix">
        <div class="col-sm-11 pull-right">

            <h1 class="section-title">Support</h1>

            <!-- feature columns -->
            <section class="feature-columns row clearfix">

                <article class="feature-col col-md-4">
                    <%= link_to 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-6');", class:'thumbnail linked' do%>
                        <div class="image-container">
                            <%=image_tag('school.jpg', class:"lazy item-thumbnail", data:{:'img-src'=> image_path('school.jpg')}, alt:"make school" ) %>
                        </div>
                        <div class="caption">
                            <h2>Make School and Library</h2>
                            <h4><p>Contribute to education, stay with local people, eat local food, and create a life time memory.</p></h4>
                        </div><!-- .caption -->
                    <%end%><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-6">
                        <%=image_tag('school inside.jpg', class:"lazy full-width", data:{:'img-src'=> image_path('school inside.jpg')}, alt:"make school") %>
                        <h1>Make School and Library</h1>
                        Sandwiched between the giants of India and China, the small country of Nepal is home to eight of the ten highest mountains in the world, including the greatest of them all—Mount Everest. Most Nepalese live in the rocky plains and valleys that sit in the shadows of the towering Himalayas or the remote southern flatlands of the Tarai, where transportation infrastructure is scarce and the terrain is challenging, even by foot.  Roughly 50% of all Nepalese live in poverty, on less than US$2/day. The very mountains that give Nepal its grandeur make building sustainable infrastructure a slow and arduous process. A significant portion of the country’s population lives in rural areas where no phones, roads, clean water, or schools exist.
                        While the country's educational system has made a great deal of progress in a very short time, there is still much to be done. Many government schools are run down and underfunded, especially in the countryside. Despite the government’s policy of providing free primary education, overcrowding and lack of materials keep many children from reaching their full potential or even finishing primary school.
                        Government funding usually accommodates teachers’ salaries, but all other costs are expected to be covered by the village families—meaning libraries and books are extremely scarce. Schools that do have books recognize that they are a precious commodity and often lock them up for safekeeping—unavailable for use by children.
                        Individual family situations and cultural bias further complicate the effort to achieve universal education. Girls typically have less access of educational resources and opportunities than their male counterparts, making them 22% less likely to be literate.
                        Join our volunteering tour to Nepal to build school and libraries in rural areas.


                       </div><!-- #modal-content-6 -->
                </article>

                <article class="feature-col col-md-4">
                    <%= link_to 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-7');", class:'thumbnail linked' do%>
                        <div class="image-container">
                            <%=image_tag('wildlife.jpg', class:"lazy item-thumbnail", data:{:'img-src'=> image_path('wildlife.jpg')}, alt:"wildlife") %>
                        </div>
                        <div class="caption">
                            <h2>Wildlife Conservation</h2>
                            <h4><p>Teach people, learn about wild life, encounter with wild animals and smile. </p></h4>
                        </div><!-- .caption -->
                    <%end%><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-7">
                        <%=image_tag('wildlife inside.jpg', class:"lazy full-width", data:{:'img-src'=> image_path('wildlife inside.jpg')}, alt:"wildlife") %>
                        <h1>Wildlife Conservation</h1>
                        Wildlife diversity is a notable feature of Nepal. Because of the variance in climate, from tropical to arctic, Nepal has a large variety of plants and animals. Wildlife tourism is also a major source of tourism in the country. There are some animal species which are unique to Nepal, such as the spiny babbler. Nepal is also host to a large number of rhododendron species. The wildlife of Nepal includes its flora and fauna. They are no natural habitats in Nepal. Nepal has established numerous National Parks and reserves in order to protect its diverse fauna. Nepal is a biodiversity hot spot with ecoregions broadly comprising the mountainous eco region, the savanna and grasslands ecoregion of the terai (foot hills), and the Rara Lake eco region, which has many endemic species.

                        Conserving wildlife controls over the ecosystem in a balanced way. Ecosystem is a chain of support of all living things and non-living things for existence. Conserving wildlife economically supports the country. Wild conservation needs reserves and national parks as well. They have to pay the certain amount of money to be entered and a big fund can be raised ultimately. Tourists keep on traveling and paying for seeing the endangered animals. Tourists spend money in our country and people become economically rich.

                        Some important animals are going to be vanished that hampers to keep the ecosystem balanced. Important animals can’t be seen in the zoo, too. Being over populated, the people started destroying wildlife for their use.

                        Join our volunteering tour to Nepal to help conserve wildlife so people like you can come here for wildlife in future too.

                    </div><!-- #modal-content-7 -->
                </article>

                <article class="feature-col col-md-4">
                    <%= link_to 'javascript: void(0);', onclick:"populate_and_open_modal(event, 'modal-content-8');", class:'thumbnail linked' do%>
                        <div class="image-container">
                            <%=image_tag('health.jpg', class:"lazy item-thumbnail", data:{:'img-src'=> image_path('health.jpg')}, alt:"Lorem Ipsum") %>
                        </div>
                        <div class="caption">
                            <h2>Community Health Camp</h2>
                            <h4> <p>Help rural people and be a savior (people even die of diarrhea in Nepal). </p></h4>
                        </div><!-- .caption -->
                    <%end%><!-- .thumbnail -->

                    <div class="content-to-populate-in-modal" id="modal-content-8">
                        <%=image_tag('health inside.jpg', class:"lazy full-width", data:{:'img-src'=> image_path('health inside.jpg')}, alt:"Lorem Ipsum") %>
                        <h1>Community Health Camp</h1>
                        “For the sixth consecutive year, Canadian and American volunteers will travel to Nepal in 2010 to provide Dental and Medical services to Nepalese villagers who would otherwise not have access to this basic care. This is part of a six-day health camp that offers free medical and dental diagnosis and treatments as well as workshops and demonstrations to give the villagers a chance for a better life.”
                        -Kathy Johnson, Langley, BC
                        Nothing can better explain our moto than the paragraph above. Much of rural Nepal is located on hilly or mountainous regions. The rugged terrain and the lack of proper infrastructure makes it highly inaccessible, limiting the availability of basic health care. In many villages, the only mode of transportation is by foot. This results in a delay of treatment, which can be detrimental to patients in need of immediate medical attention. Most of Nepal’s health care facilities are concentrated in urban areas. Rural health facilities often lack adequate funding. In 2003, Nepal had ten health centers, 83 hospitals, 700 health posts, and 3,158 "sub-health posts", which serve villages. In addition, there were 1,259 physicians, one for every 18,400 persons. In 2000, government funding for health matters was approximately US$2.30 per person, and approximately 70 percent of health expenditures came from out-of-pocket contributions. Government allocations for health were around 5.1 percent of the budget for fiscal year 2004, and foreign donors provided around 30 percent of the total budget for health expenditures.
                        Join our volunteering tour to Nepal to help Nepalese people servive death from diseases which are already eradicated from first countries.
                    </div><!-- #modal-content-8 -->

                </article>

            </section><!-- end: .feature-columns -->

            <!-- End: Section content to edit -->

        </div><!-- .col-sm-10 -->
    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->

<article id="contact" class="section-wrapper clearfix" data-custom-background-img="<%= image_path('bg4.jpg')%>">
    <div class="content-wrapper clearfix">

        <h1 class="section-title">Contact</h1>

        <!-- CONTACT DETAILS -->
        <div class="contact-details col-sm-5 col-md-3">
            <p>2014,<br/>Tour and Travel,<br/>Aliquam<br/>AAA0010</p>
            <p>Tel: (+977) 98-</p>
            <p><%= link_to 'travel@tour.com', 'mailto:hsm.manisintan@gmail.com'%></p>
        </div>
        <!-- END: CONTACT DETAILS -->

        <!-- CONTACT FORM -->
        <div class="col-sm-7 col-md-9">

            <%= form_for(@contact, :html=>{:class => 'form-style validate-form clearfix', :role=>'form'}) do |f| %>

                <!-- form left col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.text_field 'name', class:'text-field form-control validate-field required', id:'form-name', data:{:'validation-type'=>'string'}, placeholder:'Full Name'%>
                    </div>
                    <div class="form-group">
                        <%= f.text_field 'email', type:'email', class:'text-field form-control validate-field required', id:'form-email', data:{:'validation-type'=>'email'}, placeholder:'Email Address'%>
                    </div>
                    <div class="form-group">
                        <%= f.text_field 'phnumber', type:'tel', class:'text-field form-control validate-field phone', id:'form-contact-number', data:{:'validation-type'=>'phone'}, placeholder:'Contact Number'%>
                    </div>
                </div><!-- end: form left col -->

                <!-- form right col -->
                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.text_area 'body', class:'form-control validate-field required', placeholder:'Message...'%>
                    </div>
                    <div class="form-group">
                        <%=image_tag('loader-form.GIF', class:"form-loader") %>
                            <%= f.submit 'Submit', class:'btn btn-sm btn-outline-inverse' %>
                    </div>
                    <div class="form-group form-general-error-container"></div>
                </div><!-- end: form right col -->

            <% end %>
        </div><!-- end: CONTACT FORM -->

    </div><!-- .content-wrapper -->
</article><!-- .section-wrapper -->

</section><!-- #main-content -->

<!-- Footer -->
<section id="footer">

    <!-- Go to Top -->
    <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

    <ul class="social-icons">
        <li>
            <%= link_to image_tag('facebook.png', alt:'Facebook'), 'javascript:void(0);'%>
        </li>
        <li>
            <%= link_to image_tag('twitter.png', alt:'Twitter'), 'javascript:void(0);'%>
        </li>
        <li>
            <%= link_to image_tag('googleplus.png', alt:'GooglePlus'), 'javascript:void(0);'%>
        </li>
    </ul>

    <!-- copyright text -->
    <div class="footer-text-line">&copy; 2014 | TRAVELS AND TOURS </div>
</section>
<!-- end: Footer -->

</div><!-- #outer-container -->
<!-- end: Outer Container -->

<!-- Modal -->
<!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
<div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-body">
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->