

<!--#For login.js/signup-->
<script type="text/javascript">
    function confirminput()
    {
        { if(log.style.display == 'block')
            log.style.display = 'none';
        else log.style.display = 'block';
        }


    }
</script>
<!--#Google Map-->

<div id="gmap"><!-- google maps --></div>
<div id="login" style="width:1300px">
    <div id="id" align="right">
        <input type="button" id="loginbotton" value="Login/Sing Up" onclick="confirminput()">




    </div>

    <div id="log" align="center" style="display:none;background-color:white;height:500px;width:300px;float:right;">
        <p class="alert alert-danger">Login/Sing up</p>
        <p>Welcome Back !</p>

        <form  action="/users/sign_in" class="new_user" id="new_user" method="post">

            <div align="left"><label for="user_email">Email</label></div>
            <input autofocus="autofocus" id="user_email" name="user[email]" size="30" type="email" value="" />

            <div align="left"><label for="user_password">Password</label></div>

            <input autocomplete="off" id="user_password" name="user[password]" size="30" type="password" /></br>
            <div><input name="user[remember_me]" type="hidden" value="0" />
                <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
                <label for="user_remember_me">Remember me</label></div>

            <div>
                <input name="commit" type="submit" value="Sign in" />
                <a href="/users/password/new">Forgot your password?</a><br />
            </div>
            <br>
            <br>
        </form>
        <hr style="-moz-box-shadow: 3px">
        <p>Don't have an account </p>
        <form>
            <div align="left"><label for="user_email">Email</label></div>
            <input autofocus="autofocus" id="user_email" name="user[email]" size="30" type="email" value="" />
            <br>
            <br>
            <div><input name="commit" type="submit" value="Sign up" /></div>


        </form>
    </div>

</div>
<div id="switcher" style="margin-left: -500px; display: none; ">

    <div class="content-switcher" style="height: 400;width: 300 ">
        <h4>Menu</h4>

        <%= link_to image_tag("logo.jpg",height:"40", width:"40",alt:"rails"), 'home.html' %>
        <a href="">Logo</a>
        <p>
            <%= link_to image_tag("home.jpg",height:"40", width:"40",alt:"rails"), 'home.html' %>
            <a href="">Home</a>
        </p>
        <p>
            <%= link_to image_tag("about.png",height:"40", width:"40",alt:"rails"), 'home.html' %>
            <a href="">About</a>
        </p>
        <p>
            <%= link_to image_tag("book.jpg",height:"40", width:"40",alt:"rails"), 'home.html' %>
            <a href="">Education</a>
        </p>
        <p>
            <%= link_to image_tag("group.jpg",height:"40", width:"40",alt:"rails"), 'home.html' %>
            <a href="">Compaigns</a>
        </p>
        <p>
           <%= link_to image_tag("support.jpg",height:"40", width:"40",alt:"rails"), 'home.html' %>
            <a href="">Support</a>
        </p>
        <p>
            <%= link_to image_tag("mail.png",height:"40", width:"40",alt: "rails"), 'home.html' %>
            <a href="">Contact</a>



        <div class="span12">
            <ul class="ft-iconlist">
                <li><a href="https://plus.google.com/+inmotionhosting/posts"><img src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-google.png" alt="InMotion Hosting on Google+"></a></li>
                <li><a href="https://twitter.com/inmotionhosting"><img src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-twitter.png" alt="InMotion Hosting on Twitter"></a></li>
                <li><a href="https://www.facebook.com/inmotionhosting"><img src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-facebook.png" alt="InMotion Hosting on Facebook"></a></li>
                  </ul>
        </div>


        <div id="hideSwitcher">×</div>
    </div>
</div>
<div id="showSwitcher" class="styleSecondColor"><i class="fa fa-angle-double-right"></i></div>



</div>

</div>