

<!--#For login.js/signup-->
<script type="text/javascript">
    function confirminput()
    {
        { if(login.style.display == 'block')
            login.style.display = 'none';
        else login.style.display = 'block';
        }


    }
        function homeinput()
        {
            { if(home.style.display == 'block')
                home.style.display = 'none';
            else home.style.display = 'block';
            }

        }
</script>
<!--#Google Map-->

<div id="gmap"><!-- google maps --></div>


    <div id="id" align="right">
        <input type="button" id="loginbotton" value="Login/Sing Up" onclick="confirminput()"style="margin-top: -12px">

        <!--<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger" style="margin-top: -12px">-->


    </div>
<!--<div id="login">-->
    <div id="login" align="center" style="display:none;background-color:white;float:right;">

        <p class="alert alert-danger">Login/Sing up</p>
        <p>Welcome Back !</p>

        <form  action="/users/sign_in" class="new_user" id="new_user" method="post">

            <div align="left"><label for="user_email">Email</label></div>
            <input autofocus="autofocus" id="user_email" name="user[email]" size="30" type="email" value="" />

            <div align="left"><label for="user_password">Password</label></div>

            <input autocomplete="off" id="user_password" name="user[password]" size="30" type="password" /></br>
            <div><input name="user[remember_me]" type="hidden" value="0" />
                <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
                <label for="user_remember_me">Remember me</label></div>

            <div>
                <input name="commit" type="submit" value="Sign in" />
                <a href="/users/password/new">Forgot your password?</a><br />
            </div>
            <br>
            <br>
        </form>
        <hr style="-moz-box-shadow: 3px">
        <p>Don't have an account </p>
        <form>
            <div align="left"><label for="user_email">Email</label></div>
            <input autofocus="autofocus" id="user_email" name="user[email]" size="30" type="email" value="" />
            <br>
            <br>
            <div><input name="commit" type="submit" value="Sign up" /></div>


        </form>
    </div>

<!--</div>-->
<div id="switcher" style="margin-left: -200px; display: none; ">

    <div class="content-switcher" style="height: 400;width: 300 ">


        Welcome ! ! !

        <div id="hideSwitcher">×</div>
    </div>
</div>
<div id="showSwitcher" class="styleSecondColor">
    <div id="homeinput" dispaly="none">

        welcome to home

        </div>



    <div id="menu" style="background-color:#FFD700;height:800px;width:130px;float:left;">

         <div class="span12">
                <!--<ul class="ft-iconlist">-->
                    <a href="https://plus.google.com/+inmotionhosting/posts"><img src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-google.png" alt="InMotion Hosting on Google+"></a>
                    <a href="https://twitter.com/inmotionhosting"><img src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-twitter.png" alt="InMotion Hosting on Twitter"></a>
                    <a href="https://www.facebook.com/inmotionhosting"><img src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-facebook.png" alt="InMotion Hosting on Facebook"></a>
                <!--</ul>-->
            </div>


        <div class="col-sm-3 col-md-1 sidebar">
            <ul class="nav nav-sidebar">

                <!--<li class="active"><a href="#">A</a></li>-->
                <li><a href="#" onclick="home()"><%=  image_tag("logo.jpg",height:"40", width:"40",alt:"rails") %>Logo</a></li>
                <li><a href="#"><%=  image_tag("home.jpg",height:"40", width:"40",alt:"rails") %>Home</a></li>
                <li><a href="#"><%=  image_tag("about.png",height:"40", width:"40",alt:"rails") %>About</a></li>
                <li><a href="#"><%=  image_tag("book.jpg",height:"40", width:"40",alt:"rails") %>Education</a></li>
                <li><a href="#"><%=  image_tag("group.jpg",height:"40", width:"40",alt:"rails") %>Compaigns</a></li>
                <li><a href="#"><%=  image_tag("support.jpg",height:"40", width:"40",alt:"rails") %>Support</a></li>
                <li><a href="#"><%=  image_tag("mail.png",height:"40", width:"40",alt:"rails") %>Contact</a></li>
            </ul>

        </div>



</div>



</div>

</div>