
<div class="background-image-overlay"></div>

<div id="outer-background-container" data-default-background-img="<%= image_path('bg5.jpg')%>" style="background-image:image-url('bg5.jpg');"></div>

<!-- Outer Container -->
<div id="outer-container">


    <!-- Left Sidebar -->


<h1>Log in</h1>

<%= form_tag sessions_path do %>
    <p>
        <%= label_tag :email %><br />
        <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
        <%= label_tag :password %><br />
        <%= password_field_tag :password %>
    </p>
    <p class="button"><%= submit_tag "Log in" %></p>
<% end %>

    </div>

