<div class="jumbotron">
    <h1>Locations</h1>
</div>

<div class="table-reponsive">
<table class="table table-striped">
  <tr>
    <th><h4><b>Address</b></h4></th>
    <th><h4><b>Latitude</b></h4></th>
    <th><h4><b>Longitude</b></h4></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><h5><%= location.address %></h5></td>
    <td><h5><%= location.latitude %></h5></td>
    <td><h5><%= location.longitude %></h5></td>
    <td><%= link_to 'Show', location, class:'btn btn-primary btn-sm', role:'button' %></td>
    <td><%= link_to 'Edit', edit_location_path(location), class:'btn btn-success btn-sm', role:'button' %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm', role:'button' %></td>
  </tr>
<% end %>
</table>
</div>
<div class="col-sm-2">
    <%= link_to 'New Location', new_location_path, class:'btn btn-info btn-sm', role:'button' %>
</div>
