
<div class="col-sm-1 col-md-1">
<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse" width="1300">
            <ul class="nav navbar-sidebar">
                <li class="active"><a href="#"> <%=image_tag("logo.jpg",height:"40", width:"40",alt:"rails") %>Logo</a></li>
                <li><a href="#"><%=image_tag("home.jpg",height:"40", width:"40",alt:"rails") %>Home</a></li>
                <li><a href="#"><%=image_tag("about.png",height:"40", width:"40",alt:"rails") %>About</a></li>
                <li><a href="#"><%=image_tag("book.jpg",height:"40", width:"40",alt:"rails") %>Education</a></li>
                <li><a href="#"><%=image_tag("group.jpg",height:"40", width:"40",alt:"rails") %>Compaigns</a></li>
                <li><a href="#"><%=image_tag("support.jpg",height:"40", width:"40",alt:"rails") %>Support</a></li>
                <li><a href="#"><%=image_tag("mail.png",height:"40", width:"40",alt:"rails") %>Contact</a></li>
                <li><br><br></li>
                <div class="span12">

                        <a href="https://plus.google.com/http://1to1movement.org//posts"><img height="25" width="25" src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-google.png" alt="InMotion Hosting on Google+"></a>
                        <a href="https://twitter.com/http://1to1movement.org/"><img height="25" width="25" src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-twitter.png" alt="InMotion Hosting on Twitter"></a>
                        <a href="https://www.facebook.com/http://1to1movement.org/"><img height="25" width="25" src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-facebook.png" alt="InMotion Hosting on Facebook"></a>

                </div>


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>