




<div class=" col-md-1">
<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse"width="1300">
            <ul class="nav navbar-sidebar">
                <!--<li class="active"><a href="#"><%=image_tag("logo.jpg",height:"40", width:"40",alt:"rails") %>Logo</a></li>-->
                <li><a href="#" data-toggle="tooltip" title="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."><%=image_tag("Home.png",height:"40", width:"40",alt:"rails") %>Home</a></li>
                <li><a href="#" data-toggle="tooltip" title="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."><%=image_tag("About.png",height:"40", width:"40",alt:"rails") %>About</a></li>
                <li><a href="#" data-toggle="tooltip" title="There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."><%=image_tag("Education.png",height:"40", width:"40",alt:"rails") %>Education</a></li>
                <li><a href="#" data-toggle="tooltip" title="Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. "><%=image_tag("Campaigns.png",height:"40", width:"40",alt:"rails") %>Campaigns</a></li>
                <li><a href="#" data-toggle="tooltip" title="let me help you !!"><%=image_tag("Help.png",height:"40", width:"40",alt:"rails") %>Support</a></li>
                <li><a href="#" data-toggle="tooltip" title="short description "><%=image_tag("Contact.png",height:"40", width:"40",alt:"rails") %>Contact</a></li>
                <li><a href="#" data-toggle="tooltip" title="a place at the table"><%=image_tag("place.png",height:"40", width:"40",alt:"rails") %>APATT</a></li>
                <hr>
                <li><br></li>

                <div class="span12">

                        <a href="https://plus.google.com/http://1to1movement.org//posts"><img height="25" width="25" src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-google.png" alt="InMotion Hosting on Google+"></a>
                        <a href="https://twitter.com/http://1to1movement.org/"><img height="25" width="25" src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-twitter.png" alt="InMotion Hosting on Twitter"></a>
                        <a href="https://www.facebook.com/http://1to1movement.org/"><img height="25" width="25" src="//imh01.inmotionhosting1.netdna-cdn.com/img/icon-facebook.png" alt="InMotion Hosting on Facebook"></a>

                </div>


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>