
<div class=" col-md-1">
<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">1 to 1 movement</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-sidebar">
                <li>
                    <%= link_to 'home', root_path, class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'about', 'javascript:void(0);', class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'education', 'javascript:void(0);', class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'campaign', 'javascript:void(0);', class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'help', 'javascript:void(0);', class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'contact', 'javascript:void(0);', class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'a place at the table', 'javascript:void(0);', class: 'showPopover', data:{trigger:'hover', placement:'right', content:'Dummy Text'}%>
                </li>
                <li>
                    <%= link_to 'facebook', 'javascript:void(0);'%>
                    <%= link_to 'linkedin', 'javascript:void(0);'%>
                    <%= link_to 'twitter', 'javascript:void(0);'%>
                </li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>