<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>1 to 1 movement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
    <nav class="link-scroll pull-right">
<div id="user_nav">
    <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", log_out_path %>
    <!--% else %
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "log in", log_in_path %>
    <% end %>
    -->
</div></nav>
</nav>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
