

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>1 to 1 movement</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <%= csrf_meta_tags %>
</head>

<body>
<%= render 'layouts/header'%>
<div class="container-fluid">
    <div class="row">
        <%= render 'layouts/sidebar'%>
        <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main">
            <%= yield %>
        </div>
    </div>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
